html {
    font-family: 'Droid Sans', sans-serif;
}
body {
    margin: 0;
}
textarea {
    display: block;
    width: 90%;
    height: 70%;
    font-size: 5em;
    margin: 15% auto 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
    overflow: scroll;
    border: none;
    text-align: center;
    outline:none;
    overflow:auto;
    background: none;
}
textarea:focus, textarea:active {
    outline: none;
    border: none;
}
#buttons {
    position: relative;
    top: 0;
    padding: 1% 0;
    text-align: right;
}
button {
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 15px 24px;
    background: #974B91;
    border: none;
    vertical-align: middle;
    border-radius: 5px;
}
#controls {
    display: none;
}
.play {
    display: none;
}
.pause {
    display: none;
}
#buttons #submit {
    float: left;
    margin: 0 15px;
    font-size: 2em;
}
#buttons #submit.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}
#buttons #reset {
    margin: 0 15px 0 0;
}
#buttons i {
    color: #974B91;
    font-size: 2em;
    vertical-align: middle;
    margin: 0 6px;
}

#bitbucket {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2em;
    margin: .4em .8em;
    color: rgba(0,0,0,.7);
}
#bitbucket:hover {
    color: rgba(0,0,0,1);
}
#share {
    display: none;
}

#copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: .2em;
    margin: .4em;
    color: rgba(0,0,0,.54);
}

.typed-cursor {
    display: none;
}
